@media (max-width: 1200px) { 
    body{
        background-color: #5a8d08;
    }
 }
    
@media (max-width: 992px) { 
    body{
        background-image: url(../images/wallMini.jpg);
        overflow: hidden;
        height: 50%;
    }
    /* .film-2{
        float:left;
    } */
    .container{
        top: 10%;
    }
 }
